doctype html
html(lang='en')
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/main.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    section.page
      header.pageheader
        section
          h1 Harrison Goldstein
          section.addrs
            address.phone (732).977.7316
            address.email: a(href='mailto:hgoldstein95@gmail.com') hgoldstein95@gmail.com
            address.website: a(href='http://www.harrisongoldstein.me') www.harrisongoldstein.me
        section.mailing.addrs
          h3 PERMANENT ADDRESS
          address 15 Monarch Ln.
          address Freehold, NJ 07728
        section.mailing.addrs
          h3 CURRENT ADDRESS
          address 210 Lake St., Apt. 13C
          address Ithaca, NY 14853
      ul.minor.notes
        li.nested
          h1 Education
          ul
            li
              h2 Cornell University,
                br
                | College of Engineering
              ul.info
                li 2014 - Present
                li GPA: 4.00
              p Pursuing B.S. in Computer Science,
                br
                | Certification in Engineering Leadership
        li
          h1 Skills and Competencies
          ul
            li Java and JavaFX
            li Python
            li Ruby
            li C++
            li HTML5, CSS3, and Sass
            li Javascript and jQuery
            li
              span.latex
                | L
                sup A
                | T
                sub E
                | X
            li Object Oriented Programming
            li 3D Printing Design
            li Circuit Prototyping
            li Public Speaking
        li
          h1 Relevant Coursework
          ul
            li Honors Object Oriented Programming and Data Structures
            li Computer Systems
            li Digital Logic and Computer Organization
            li Discrete Structures
            li Linear Algebra
            hr
            li Entrepreneurial Management
        li.nested
          h1 Honors and Awards
          ul
            li
              h2 Eagle Scout
              ul.info.no-bg
                li Summer 2013
                li Boy Scouts of America
            li
              h2 Best Cornell-Related Hack
              ul.info.no-bg
                li Fall 2015
                li BigRed//Hacks
            li
              h2 State 1st Prize, Engineering Design
              ul.info.no-bg
                li Spring 2014
                li Technology Students Assn.
        li
          h1 Links
          ul
            li
              a(href='https://github.com/hgoldstein95/')
                | Github://hgoldstein95
            li
              a(href='https://www.linkedin.com/in/hgoldstein95')
                | LinkedIn://hgoldstein95
      ul.major.notes
        li.nested
          h1 Work Experience
          ul
            li
              h2 Developer
              ul.info
                li Summer 2014, 2015
                li: a(href='http://www.timanllc.com') Timan LLC
              ul#content_list
                li Designed systems to automate financial data acquisition and manipulation, for more efficient company stock valuation.
                li Wrote versions of these systems in both Python and Java: the Python system was used as a quicker solution; the Java version (which includes a graphical user interface) was written to be a permanent utility.
                li Developed a user interface for the Java utility using JavaFX as well as webkit and web-technologies. 
        li.nested.projects-section
          h1 Projects
          ul
            li
              h2 ASL Interpreting Glove
              ul.info
                li Fall 2013
                li: a(href='http://www.harrisongoldstein.me/aslglove') harrisongoldstein.me/aslglove
              p
                ul#content_list
                  li Partnered to design and build a glove that interpreted American Sign Language letters.
                  li Designed and built sensor circuits for measuring features of hand positions, including finger bend and finger proximity.
                  li Developed code in C that read data from a 
                    a(href='http://www.ti.com/ww/en/launchpad/launchpads-msp430.html') TI-MSP430 microcontroller
                    | , and code in Python that interpreted those signals based on mathematical models.
            li
              h2 Party Game Web App: <em>Mafia</em>
              ul.info
                li Spring 2015
                li: a(href='http://mafia-game.meteor.com') mafia-game.meteor.com
              ul#content_list
                li Collaborated to create a web app for playing the party game <em>"Mafia"</em>.
                li The application is built on 
                  a(href="http://www.meteor.com") Meteor.js
                  | , a Node.js framework, and uses
                  a(href='http://http://getbootstrap.com/')  Twitter Bootstrap
                  |  as user-interface style.
                li Currently being used by
                  a(href='http://cornellmafiaclub.github.io')  Cornell's Mafia Club
                  |  at weekly game-nights.
            li
              h2 n-Body Simulation
              ul.info
                li Spring 2014
                li: a(href='http://harrisongoldstein.me/nbody') harrisongoldstein.me/nbody
              ul#content_list
                li Partnered to create a Python simulation of the "n-body problem", a common problem in physics that can be modeled as <em>n</em> planets in gravitational orbit.
                li Used the classical Runge-Kutta method to calculate planet positions over time, and 
                  a(href='http://vpython.org/') vPython 
                  | to generate a 3D graphical representation.

      section.footer References available upon request.
        br 
        | Resume source available at 
        a(href='https://github.com/hgoldstein95/my-resume') github.com/hgoldstein95/my-resume
        | .
