doctype html
html(lang='en')
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/main.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    section.page
      header.pageheader
        section
          h1 Harrison Goldstein
          section.addrs
            address.phone (732).977.7316
            address.email
              a(href='mailto:hgoldstein95@gmail.com') hgoldstein95@gmail.com
            address.website
              a(href='http://www.harrisongoldste.in') harrisongoldste.in
        section.mailing.addrs
          h3 PERMANENT ADDRESS
          address 15 Monarch Ln.
          address Freehold, NJ 07728
        section.mailing.addrs
          h3 CURRENT ADDRESS
          address 210 Lake St., Apt. 13C
          address Ithaca, NY 14853
      ul.minor.notes
        li.nested
          h1 Education
          ul
            li
              h2 Cornell University,
                br
                | College of Engineering
              ul.info
                li 2014 - Present
                li GPA: 4.01
              p Pursuing B.S. in Computer Science,
                br
                | Masters in Engineering
        li
          h1 Skills and Competencies
          ul
            li Java
            li Python
            li OCaml
            li C
            li HTML5, CSS3, and Sass
            li Javascript and jQuery
            li: span.latex L <sup>A</sup>T<sub>E</sub>X
            li BASH and UNIX Systems
            li Object Oriented Programming
            li Functional Programming
        li
          h1 Relevant Coursework
          ul
            li Honors Object Oriented Programming
            li Data Structures and Functional Programming
            li Algorithms
            li Operating Systems
            li Database Systems, with Practicum
            li UNIX Tools and Scripting
            li Discrete Structures
            li Linear Algebra
            li Statistics and Probability
            li Entrepreneurial Management
        li.nested
          h1 Honors and Awards
          ul
            li
              h2 Certification in Engineering Leadership
              ul.info.no-bg
                li Fall 2015
                li Engineering Leadership Program
            li
              h2 First Place, Business Plan Competition
              ul.info.no-bg
                li Spring 2016
                li School of Hotel Administration
            li
              h2 Eagle Scout
              ul.info.no-bg
                li Summer 2013
                li Boy Scouts of America
        li
          h1 Links
          ul
            li
              a(href='https://github.com/hgoldstein95/')
                | Github://hgoldstein95
            li
              a(href='https://www.linkedin.com/in/hgoldstein95')
                | LinkedIn://hgoldstein95
      ul.major.notes
        li.nested
          h1 Work Experience
          ul
            li
              h2 Lead Developer
              ul.info
                li Summer 2014, 2015
                li: a(href='http://www.timanllc.com') Timan, LLC
              ul#content_list
                li Designed systems to automate financial data acquisition and
                  | manipulation, for more efficient company stock valuation.
                li Developed a barebones Python platform, as well as a more
                  | advanced Java system with a graphical user interface.
            li
              h2 Chief Technology Officer
              ul.info
                li Fall 2015, Spring 2016
                li Last Second Beach, LLC
              ul#content_list
                li Oversaw the development of a mobile application built using
                  a(href='https://angularjs.org/')  AngularJS
                  |  and
                  a(href='http://phonegap.com/')  Adobe Phonegap
                  | .
                li Worked closely with CEO, Khalid Ladha, and CRO, Zacharia
                  | Demuth, to make decisions integral to the company's
                  | operation.
        li.nested.projects-section
          h1 Projects
          ul
            li
              h2 ASL Interpreting Glove
              ul.info
                li Fall 2013
                li: a(href='http://www.harrisongoldste.in/aslglove')
                  | harrisongoldste.in/aslglove
              p
                ul#content_list
                  li Partnered to design and build a glove that interpreted
                    | American Sign Language letters.
                  li Designed and built sensor circuits for measuring features
                    | of hand positions, including finger bend and finger
                    | proximity.
                  li Developed code in C that read data from a
                    a(href='http://www.ti.com/ww/en/launchpad/launchpads-msp430.html')
                      |  TI-MSP430 microcontroller
                    | , and code in Python that interpreted those signals
                    | based on mathematical models.
            li
              h2 Party Game Web App: <em>Mafia</em>
              ul.info
                li Spring 2015
              ul#content_list
                li Collaborated to create a web app for playing the party game
                  | <em>Mafia</em>.
                li The application is built on
                  a(href="http://www.meteor.com")  Meteor.js
                  | , a node.js framework, and uses
                  a(href='http://http://getbootstrap.com/')  Twitter Bootstrap
                  |  for user-interface style.
            li
              h2 n-Body Simulation
              ul.info
                li Spring 2014
                li: a(href='http://harrisongoldste.in/nbody')
                  |  harrisongoldste.in/nbody
              ul#content_list
                li Partnered to create a Python simulation of the
                  | "n-body problem", a common problem in physics that can
                  | model <em>n</em> planets in gravitational orbit (among
                  | other physical systems).
                li Used the classical Runge-Kutta method to calculate planet
                  | positions over time, and used
                  a(href='http://vpython.org/')  vPython
                  |  to generate a 3D graphical representation.

      section.footer References available upon request.
        br
        | Resume source available at
        a(href='https://github.com/hgoldstein95/resume')  github.com/hgoldstein95/resume
        | .
