doctype html
html(lang='en')
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/main.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    section.page
      header.pageheader
        section
          h1 Harrison Goldstein
          section.addrs
            address.phone
              a(href='tel:+1-732-977-7316') (732) 977-7316
            address.email
              a(href='mailto:hgo@seas.upenn.edu') hgo@seas.upenn.edu
            address.website
              a(href='https://harrisongoldste.in') harrisongoldste.in
            address.github
              a(href='https://twitter.com/hgoldstein95/')
                | @hgoldstein95
        section.mailing.addrs
          h3 MAILING ADDRESS
          address 4730 Pine St, Apt C1, Box 13
          address Philadelphia, PA 19143
      ul.minor.notes
        li.nested
          h1 Education
          ul
            li
              h2 University of Pennsylvania
              ul.info
                li Fall 2019 - Present
              p Pursuing Ph.D. in Computer Science
            li.space-above
              h2 Cornell University
              ul.info
                li Fall 2014 - Spring 2018
              p B.S. in Computer Science (GPA 4.08)
                br
                | M.Eng. in Computer Science (GPA 4.02)
        li
          h1 Activities
          ul
            li POPL 2021 Social Chair
            li ICFP 2020 AV Coordinator
            li Editor of Penn's PLClub Blog
        li
          h1 Research Interests
          ul
            li Property-Based Testing
            li Type Systems
            li Domain Specific Languages
        li 
          h1 Skills and Competencies
          ul
            li Research Writing and Communication
            li Programming in all Major Paradigms
            li Leadership and Public Speaking
        li.nested
          h1 Honors and Awards
          ul
            li
              h2 Certification in Engineering Leadership
              ul.info.no-bg
                li Fall 2015
                li Engineering Leadership Program
            li
              h2 First Place, Business Plan Competition
              ul.info.no-bg
                li Spring 2016
                li School of Hotel Administration
            li
              h2 Eagle Scout
              ul.info.no-bg
                li Boy Scouts of America
      ul.major.notes
        li.nested.projects-section
          h1 Publications
          p#publication_list
            i.paper-title
              | Do Judge a Test by its Cover: Combining Combinatorial and Property-Based Testing
            br
            span.paper-authors
              | Harrison Goldstein, John Hughes, Leonidas Lampropoulos, Benjamin C. Pierce
            br
            span.paper-conference
              | ESOP 2021
            br
            i.paper-title
              | Programming Language Support for Natural Language Interaction
            br
            span.paper-authors
              | Alex Renda, Harrison Goldstein, Sarah Bird, Chris Quirk,
              | Adrian Sampson
            br
            span.paper-conference
              | SysML 2018
        li.nested
          h1 Work Experience
          ul
            li 
              h2 Research Intern
              ul.info
                li Summer 2020
                li: a(href='https://aws.amazon.com/identity/')
                  | AWS Automated Reasoning Group
              ul#content_list
                li Expanded and formalized a model of AWS access policies that captured
                  | the full complexity of the authorization system.
                li Explored an embedding of the model into SMT, to be used in the Zelkova
                  | tool.
            li
              h2 Software Engineer
              ul.info
                li Summer 2017, July 2018 - August 2019
                li: a(href='https://www.broadwaytechnology.com/')
                  | Broadway Technology
              ul#content_list
                li Collaborated with individuals throughout the organization on
                  | tools that streamlined and improved Broadway's operations.
                li Took the lead on a number of projects; this entailed working
                  | as an internal consultant, a project manager, and a
                  | developer.
            li
              h2 Technology Intern
              ul.info
                li Summer 2016
                li: a(href='https://www.sig.com')
                  | Susquehanna International Group, LLP
            li
              h2 Chief Technology Officer
              ul.info
                li Fall 2015, Spring 2016
                li Last Second Beach, LLC
        li.nested.projects-section
          h1 Projects
          ul
            li
              h2 Opal
              ul.info
                li Spring 2017 - Spring 2018
              ul#content_list
                li Worked with Adrian Sampson and others at Cornell to design a
                  | new programming language, Opal.
                li Opal provides novel abstractions for machine learning tasks.
            li
              h2 Tourist
              ul.info
                li October 2018 - Present
                li: a(href='https://github.com/tourist-doc/tourist')
                  | github.com/tourist-doc/tourist
              p
                ul#content_list
                  li Collaborated with a colleague to develop Tourist, a new
                    | approach to code documentation. The project is open
                    | source and can be downloaded as an extension for VSCode.

      section.footer References available upon request.
        br
        | Resume source code available at
        a(href='https://github.com/hgoldstein95/resume')  github.com/hgoldstein95/resume
        | .
