doctype html
html(lang='en')
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/main.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    section.page
      header.pageheader
        section
          h1 Harrison Goldstein
          section.addrs
            address.phone
              a(href='tel:+1-732-977-7316') (732) 977-7316
            address.email
              a(href='mailto:hgoldstein95@gmail.com') hgoldstein95@gmail.com
            address.website
              a(href='http://www.harrisongoldste.in') harrisongoldste.in
        section.mailing.addrs
          h3 PERMANENT ADDRESS
          address 27 Carnaby Close
          address Freehold, NJ 07728
        section.mailing.addrs
          h3 CURRENT ADDRESS
          address 210 Lake St., Apt. 13C
          address Ithaca, NY 14853
      ul.minor.notes
        li.nested
          h1 Education
          ul
            li
              h2 Cornell University,
                br
                | College of Engineering
              ul.info
                li 2014 - Present
                li GPA: 4.08
              p Pursuing B.S. in Computer Science,
                br
                | Masters in Engineering
        li
          h1 Skills and Competencies
          ul
            li Java
            li Python
            li C, C++
            li Rust
            li HTML / CSS
            li Javascript, Typescript
            li C#, .NET Framework, ASP.NET
            li OCaml
            li: span.latex L <sup>A</sup>T<sub>E</sub>X
            li BASH and UNIX Systems
        li
          h1 Relevant Coursework
          ul
            li Programming Languages and Logics
            li Algorithms
            li Operating Systems
            li Honors Object Oriented Programming
            li Data Structures and Functional Programming
            li Database Systems, with Practicum
            li Discrete Structures
            li Linear Algebra
            li Entrepreneurial Management
            li Social Entrepreneurship
        li.nested
          h1 Honors and Awards
          ul
            li
              h2 Certification in Engineering Leadership
              ul.info.no-bg
                li Fall 2015
                li Engineering Leadership Program
            li
              h2 First Place, Business Plan Competition
              ul.info.no-bg
                li Spring 2016
                li School of Hotel Administration
            li
              h2 Eagle Scout
              ul.info.no-bg
                li Summer 2013
                li Boy Scouts of America
        li
          h1 Links
          ul
            li
              a(href='https://github.com/hgoldstein95/')
                | GitHub.com/hgoldstein95
            li
              a(href='https://www.linkedin.com/in/hgoldstein95')
                | LinkedIn.com/in/hgoldstein95
      ul.major.notes
        li.nested
          h1 Work Experience
          ul
            li
              h2 Software Engineering Intern
              ul.info
                li Summer 2016
                li: a(href='http://www.sig.com')
                  | Susquehanna International Group, LLP
              ul#content_list
                li Worked with the Electronic Options Trading team to build
                  | safety systems, designed to prevent erronious trading
                  | situations.
                li Built functional components extensively in C# and the .NET
                  | framework, and built visualizations with ASP.NET to examine
                  | the operation of those components.
            li
              h2 Lead Developer
              ul.info
                li Summer 2014, 2015
                li: a(href='http://www.timanllc.com') Timan, LLC
              ul#content_list
                li Designed systems in Python and Java to automate financial
                  | data acquisition and manipulation, for more efficient
                  | equity valuation.
            li
              h2 Chief Technology Officer
              ul.info
                li Fall 2015, Spring 2016
                li Last Second Beach, LLC
              ul#content_list
                li Oversaw the development of a mobile application built using
                  a(href='https://angularjs.org/')  Angular
                  |  and
                  a(href='http://phonegap.com/')  Adobe Phonegap
                  | .
                li Worked closely with CEO, Khalid Ladha, and CRO, Zacharia
                  | Demuth, to make decisions integral to the company's
                  | operation.
        li.nested.projects-section
          h1 Projects
          ul
            li
              h2 ASL Interpreting Glove
              ul.info
                li Fall 2013
                li: a(href='http://www.harrisongoldste.in/aslglove')
                  | harrisongoldste.in/aslglove
              p
                ul#content_list
                  li Partnered to design and build a glove that interpreted
                    | American Sign Language letters.
                  li Designed and built sensors for measuring hand position.
                  li Developed code in C and Python to process and interpret
                    | signals.
            li
              h2 Party Game Web App: <em>Mafia</em>
              ul.info
                li Spring 2015
              ul#content_list
                li Collaborated to create a web app for playing the party game
                  | <em>Mafia</em>.
                li The application is built on
                  a(href="http://www.meteor.com")  Meteor.js
                  |  and uses
                  a(href='http://http://getbootstrap.com/')  Twitter Bootstrap
                  |  for user-interface style.
            li
              h2 n-Body Simulation
              ul.info
                li Spring 2014
                li: a(href='http://harrisongoldste.in/nbody')
                  |  harrisongoldste.in/nbody
              ul#content_list
                li Partnered to create a Python simulation of the
                  | "n-body problem".
                li Relies on the classical Runge-Kutta method of integration.
                li Used
                  a(href='http://vpython.org/')  vPython
                  |  to generate a 3D graphical representation.

      section.footer References available upon request.
        br
        | Resume source available at
        a(href='https://github.com/hgoldstein95/resume')  github.com/hgoldstein95/resume
        | .
