doctype html
html(lang='en')
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/main.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    section.page
      header.pageheader
        section
          h1 Harrison Goldstein
          section.addrs
            address.phone
              a(href='tel:+1-732-977-7316') (732) 977-7316
            address.email
              a(href='mailto:hgoldstein95@gmail.com') hgoldstein95@gmail.com
            address.website
              a(href='https://harrisongoldste.in') harrisongoldste.in
            address.github
              a(href='https://github.com/hgoldstein95/')
                | GitHub:hgoldstein95
        section.mailing.addrs
          h3 PERMANENT ADDRESS
          address 27 Carnaby Close
          address Freehold, NJ 07728
        section.mailing.addrs
          h3 CURRENT ADDRESS
          address 4730 Pine St, Apt C1, Box 13
          address Philadelphia, PA 19143
      ul.minor.notes
        li.nested
          h1 Education
          ul
            li
              h2 University of Pennsylvania
              ul.info
                li Fall 2019 - Present
              p Pursuing Ph.D. in Computer Science
            li.space-above
              h2 Cornell University
              ul.info
                li Fall 2014 - Spring 2018
              p B.S. in Computer Science (GPA 4.08)
                br
                | M.Eng. in Computer Science (GPA 4.02)
        li
          h1 Skills and Competencies
          ul
            li Functional Programming
            li Object Oriented Programming
            li Formal Methods / Verification
            li Web Development
            li BASH and UNIX Systems
            li Leadership / Public Speaking
            li Technical Writing /
              span.latex  L <sup>A</sup>T<sub>E</sub>X
            li <br>
            li: i Programming Languages Including:
            li C, C#, C++, Coq, Haskell, Java, JavaScript,
            li OCaml, Python, Rust, TypeScript
        li
          h1 Relevant Coursework
          ul
            li Compilers, with Practicum
            li Programming Languages and Logics
            li Algorithms
            li Theory of Computation
            li Operating Systems
            li Artificial Intelligence
            li Database Systems, with Practicum
            li Entrepreneurial Management
        li.nested
          h1 Honors and Awards
          ul
            li
              h2 Certification in Engineering Leadership
              ul.info.no-bg
                li Fall 2015
                li Engineering Leadership Program
            li
              h2 First Place, Business Plan Competition
              ul.info.no-bg
                li Spring 2016
                li School of Hotel Administration
            li
              h2 Eagle Scout
              ul.info.no-bg
                li Boy Scouts of America
      ul.major.notes
        li.nested
          h1 Work Experience
          ul
            li
              h2 Software Engineer
              ul.info
                li Summer 2017, July 2018 - August 2019
                li: a(href='https://www.broadwaytechnology.com/')
                  | Broadway Technology
              ul#content_list
                li Collaborated with individuals throughout the organization on
                  | tools that streamlined and improved Broadway's operations.
                li Took the lead on a number of projects; this entailed working
                  | as an internal consultant, a project manager, and a
                  | developer.
            li
              h2 Technology Intern
              ul.info
                li Summer 2016
                li: a(href='https://www.sig.com')
                  | Susquehanna International Group, LLP
              ul#content_list
                li Worked to build safety systems, designed to prevent erronious
                  | trading situations.
                li Built functional components in C# and the .NET framework, and
                  | built visualizations with ASP.NET.
            li
              h2 Chief Technology Officer
              ul.info
                li Fall 2015, Spring 2016
                li Last Second Beach, LLC
              ul#content_list
                li Oversaw the development of a mobile application built using
                  a(href='https://angularjs.org/')  Angular
                  |  and
                  a(href='https://phonegap.com/')  Adobe Phonegap
                  | .
                li Worked closely with CEO, Khalid Ladha, and CRO, Zacharia
                  | Demuth, to make decisions integral to the company's
                  | operation.
        li.nested.projects-section
          h1 Projects
          ul
            li
              h2 Opal
              ul.info
                li Spring 2017 - Spring 2018
              ul#content_list
                li Worked with Adrian Sampson and others at Cornell to design a
                  | new programming language, Opal.
                li Opal provides novel abstractions for machine learning tasks.
                li The language will eventually be released for open-source use.
            li
              h2 Tourist
              ul.info
                li October 2018 - Present
                li: a(href='https://github.com/tourist-doc/tourist')
                  | github.com/tourist-doc/tourist
              p
                ul#content_list
                  li Collaborated with a colleague to develop Tourist, a new
                    | approach to code documentation. The project is open
                    | source and can be downloaded as an extension for VSCode.
                  li Tourist is actively maintained and developed by my
                    | colleague and myself.
        li.nested.projects-section
          h1 Publications
          p#publication_list
            i.paper-title
              | Programming Language Support for Natural Language Interaction
            br
            span.paper-authors
              | Alex Renda, Harrison Goldstein, Sarah Bird, Chris Quirk,
              | Adrian Sampson
            br
            span.paper-conference
              | SysML 2018

      section.footer References available upon request.
        br
        | Resume source code available at
        a(href='https://github.com/hgoldstein95/resume')  github.com/hgoldstein95/resume
        | .
